@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

html, body, svg {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Montserrat;
}

body {
  background-color: #ffab94
}

/* NAVBAR */

        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        .navbar {
            font-size: 16px;
            background-color: #ffcbbd
            padding-bottom: 10px;
        }

        .main-nav {
            list-style-type: none;
            display: none;
        }

        .nav-links,
        .logo {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7);
        }

        .main-nav li {
            text-align: center;
            margin: 15px auto;
        }

        .logo {
            display: inline-block;
            font-size: 24px;
            margin-top: 10px;
            margin-left: 20px;
			padding-top: 20px;
			height: 70px;
        }

/* nav-icon-1 */

.nav-icon-1{
  width: 30px;
  height: 30px;
  position: relative;
  transition: .1s;
  margin: 10px 10px;
  cursor: pointer;
  display: inline-block;
}
.nav-icon-1 span{
  width: 5px;
  height: 5px;
  background-color: #fff;
  display: block;
  border-radius: 50%;
  position: absolute;

}

.nav-icon-1:hover span{
  transform: scale(1.2);
  transition: 350ms cubic-bezier(.8, .5, .2, 1.4);
}

.nav-icon-1 span:nth-child(1){
  left: 0;
  top: 0;
}
.nav-icon-1 span:nth-child(2){
  left: 12px;
  top: 0;
}
.nav-icon-1 span:nth-child(3){
  right: 0;
  top: 0;
}
.nav-icon-1 span:nth-child(4){
  left: 0;
  top: 12px;
}
.nav-icon-1 span:nth-child(5){
  position: absolute;
  left: 12px;
  top: 12px;
}
.nav-icon-1 span:nth-child(6){
  right: 0px;
  top: 12px;
}
.nav-icon-1 span:nth-child(7){
  left: 0px;
  bottom: 0px;
}
.nav-icon-1 span:nth-child(8){
  position: absolute;
  left: 12px;
  bottom: 0px;
}
.nav-icon-1 span:nth-child(9){
  right: 0px;
  bottom: 0px;
}

.nav-icon-1.open{
  transform: rotate(180deg);
  cursor: pointer;
  transition: .2s cubic-bezier(.8, .5, .2, 1.4);
}

.nav-icon-1.open span{
  border-radius: 50%;
  transition-delay: 200ms;
  transition: .5s cubic-bezier(.8, .5, .2, 1.4);
}

.nav-icon-1.open span:nth-child(2) {
  left: 6px;
  top: 6px;
}
.nav-icon-1.open span:nth-child(4) {
  left: 6px;
  top: 18px;
}
.nav-icon-1.open span:nth-child(6) {
  right: 6px;
  top: 6px;
}
.nav-icon-1.open span:nth-child(8) {
  left: 18px;
  bottom: 6px;
}

        .navbar-toggle {
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
            font-size: 14px;
        }

        .active {
            display: block;
        }

        @media screen and (min-width: 768px) {
            .navbar {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
                height: 70px;
                align-items: center;
            }

            .main-nav {
                display: flex;
                margin-right: 30px;
                flex-direction: row;
                justify-content: flex-end;
            }

            .main-nav li {
                margin: 0;
            }

            .nav-links {
                margin-left: 40px;
            }

            .logo {
                margin-top: 0;
            }

            .navbar-toggle {
                display: none;
            }

            .logo:hover,
            .nav-links:hover {
                color: rgba(255, 255, 255, 1);
            }
        }

/* WAVE */

.wave-container {
  position: relative;
  background: #fff0e5;
  color: #ff9c8f;
  text-align: center;
  overflow: hidden;
}

@keyframes animateWave {
  0% {
    transform: scale(1,0);
  }
  100% {
    transform: scale(1,1);
  }
}

.wave-container > svg {
  display: block;
  transform-origin: bottom;
  animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

/* BASE CONTROLS */

h1 {
  font-size: 5rem;
  margin: 7rem 1.25rem 2.5rem 1.25rem;
}

p {
  font-size: 1.5rem;
  margin: 0 1.25rem 5rem 1.25rem;
}

.blob {
  margin: 0 auto;
  max-width: 400px;
  padding: 0 1rem;
}

.btn {
    padding: 6px 6px;
    margin-right: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ff9c8f;
    border: 2px solid #ff9c8f;
    background-color: #fff0e5;
}

/* 
  FOOTER
  https://codepen.io/nickbraver/pen/mHLCp
  (c) Nick Braver
*/


.footer #button{
	width:35px;
	height:35px;
	border: #ffd8c3 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.footer #button:hover{
	width:35px;
	height:35px;
	border: #3A3A3A 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}

.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}

.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}

.footer #container{
	margin-top:5px;
	width:100%;
    height:100%;
    position:relative;
    top:0;
    left:0;
	background: transparent;
}

.footer #cont{
    position:relative;
    top:-45px;
    right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}

.footer_center{
	width:500px;
	float:left;
  text-align:center;
}

.footer h3{
	font-family: 'Montserrat';
	font-size: 16px;
    color: #ffffff;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
}

/* 
  GIPHY API
  https://codepen.io/ATwrx
  (c) Atwrx
*/

.title-search-bar {
    text-align: center;
    .search-btn {
        margin: 3px;
    }
    #submit,
    .trending {
        margin-bottom: 6px;
    }
    .search-bar {
        margin-top: 0.4rem;
    }
}

#results {
    margin: 0 auto;
    width: 100%;
}

.gif-box {
    margin: 0.5rem;
    display: inline-block;
    border: 1px solid #ff9c8f;
    height: auto;
    width: auto;
    img {
        display: block;
    }
	
/* GALLERY */

.container {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 1rem;
}

.responsive-image {
  max-width: 100%;
}

.cell img {
  display: block;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
  }
}

/* Gallery MARGINS */
.cell {
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}